/* *{
  border: 1px solid black;
} */
*{
  font-family: 'Electrolize';
}

.interests{
  text-decoration: underline;
}
#objective{
  max-height: 30vh;
}
.white{
color:white;
}
.bg-header {
  height: 100vh;
  background-image: url("./images/sawtooth.jpg");
  /* background:no-repeat;
  background-size:cover; */
}